@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#btn:hover {
  cursor: pointer;
  color: rgb(82, 11, 11);
  background-color: antiquewhite;
  border: 2px solid rgb(82, 11, 11);
  
}

h1 {
  color: rgb(235, 207, 170);
}

h1, .search__bar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

body {
  background-image: url('./src/assets/curtain.jpg');
  background-size: cover;
}

.marquee {
  width: 100%;
  height: auto;
  opacity: .30;
  margin-bottom: -5px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.logo {
  width: 75px;
}

/* NAV */

nav {
  height: 45px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: rgba(82, 11, 11, 0.836);
  position: relative;
  margin-bottom: 28px;
  
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__links {
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  padding: 8px;
  color: antiquewhite;
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #242424;
  border-radius: 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: relative;
  margin-left: 8px;
}



/* 
SEARCH FOR A MOVIE
*/

.search__bar {
  margin: 16px;
}

#filter, input {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  border-radius: 20px;
}

#filter, #btn, #search__area {
  background-color: rgba(82, 11, 11, 0.677);
  border: 2px solid rgb(235, 207, 170);
}

#filter, #btn {
margin-left: 10px;
padding: 8px;
color: antiquewhite;
}

#filter {
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
}

#search__area {
  color: antiquewhite;
  padding: 0 8px;
}

/*
Movie Cards
*/

div {
display: block;
}

.container__results {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row__search--results {
  display: block;
}

.movie__list {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie__card {
  margin-bottom: 16px;
  max-width: 33.33%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgb(235, 207, 170);
  border: 1px solid rgb(235, 207, 170);
  border-radius: 10px;
  background-color: rgba(82, 11, 11, 0.677);
}

.box__art {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.card--container {
  padding: 4px 12px;
}

.movie__title, .release__date, .imdb__page, .rotten__tomatoes {
  margin-bottom: 10px;
  color: antiquewhite;
  
  
}
.movie__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 14px;
}

.release__date {
  font-weight: 500;
  font-style: italic;
  text-align: right;
  margin-right: 16px;;
}

.imdb__page, .rotten__tomatoes {
  text-align: left;
  margin-left: 16px;
}

/*.  
    Skeleton Loading State 
    */

.results__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  padding-top: 60px;
  font-size: 60px;
  color: antiquewhite;
  position: relative;
}

.results__loading--spinner {
  display: none !important;
}

.results__loading .results__loading--spinner {
  display: block !important; 
}

.fa-spinner {
  position: absolute;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
